<footer>
    <div class="footer-headings">
        <a href='/'><h1>MealBook</h1></a>
        <a href='https://github.com/ArjunSaili1'><img src='https://cdn-icons-png.flaticon.com/512/25/25231.png'></a>
    </div>
    <hr>
    <ul>
        <li><a href='/cuisine'>Browse Cuisines</a></li>
        <li><a href='/meal'>Browse Meals</a></li>
        <li><a href='/ingredient'>Browse Ingredients</a></li>
    </ul>
    <h6>Created by Arjun Saili</h6>
</footer>