<header>
    <a href='/'><h1>MealBook</h1></a>
    <ul>
        <li><a href='/cuisine'>Browse Cuisines</a></li>
        <li><a href='/meal'>Browse Meals</a></li>
        <li><a href='/ingredient'>Browse Ingredients</a></li>
    </ul>
</header>